.image-height{
  width: 100vw;
  height: 25vw;
}
.image-height img{
  background-size: cover;
  height: 100%;
  width: 100%;
}
.middle-box{
  margin-top: 6vw;
  width: 100vw;
  height: 25vw;
  background-color: rgb(18, 94, 121);
}